@tailwind base;
@tailwind components;
@tailwind utilities;
.footer-gradient {
    position: absolute;
    width: 500px;
    height: 100px;
    left: 37%;
    bottom: 0;
  
    background: #65c4fa;
    filter: blur(150px);
  }
  .parallax-container {
    position: relative;
  }
  
  .parallax-container *::-webkit-scrollbar {
    display: none;
  }

  .parallax-container * {
    -ms-overflow-style: none;
  }