@tailwind base;
@tailwind components;
@tailwind utilities;
.footer-gradient {
    position: absolute;
    width: 500px;
    height: 100px;
    left: 37%;
    bottom: 0;
  
    background: #65c4fa;
    filter: blur(150px);
  }
  .parallax-container {
    position: relative;
  }
  
  .parallax-container *::-webkit-scrollbar {
    display: none;
  }

  .parallax-container * {
    -ms-overflow-style: none;
  }





  /* animation b u tton */
.animated-button {
  position: relative;
  background-color: #f9d286; 
  color: black; 
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-weight: bold;
  transition: color 0.4s ease;
}

.animated-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background-color: white; 
  transition: left 0.4s ease;
  z-index: 0;
}

.animated-button:hover::before {
  left: 100%; 
}

.animated-button span {
  position: relative;
  z-index: 1;
}
/* animation b u tton */
.nav {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999999!important;
  position: sticky;
  opacity: 0; /* Initially hide the navigation bar */
  animation: fadeInDown 1s ease-in-out forwards; /* Change duration to 1s and remove iteration count */
}
.fade-in {
  opacity: 1; /* Show the navigation bar when scrolled */
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0); /* Move the navigation bar up */
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
.hbg{
  background-image: url('/public/images/Screenshot_2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 100%;
}




.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #ffc107!important;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #ffc107!important;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}


#textblock {
  background-color: #210002;
  height: 100vh;
}

#textblock-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 70px;
}

#textblock-title {
  color: #ffaf1b;
  font-size: 35px;
  font-weight: 600;
  font-family: "Helvetica Neue";
}

#textblock-content {
  color: #ffaf1b;
  font-size: 20px;
}

#textblock-footer {
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 0px;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin-bottom: 20px;

}

#textblock-devsense {
  text-decoration: none;
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 600;
}

.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}

#artback {
  background-image: url(/images/charecter2.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
#artback1 {
  background-image: url(/images/teambg.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

#mountain {
  /* background-image: url(/images/mountains.png); */
}

#logoland {
  background-image: url(/images/logo.png);
margin-left: 120px;
  background-repeat: no-repeat;
}

#jungle1 {
  background-image: url(/images/jungle1.png);
  margin-top: 300px;
  background-repeat: no-repeat;
background-size: cover;
}

#jungle2 {
  /* background-image: url(/images/jungle2.png); */
}

#jungle3 {
  background-image: url(/images/jungle3.png);
}

#jungle4 {
  background-image: url(/images/jungle4.png);
}

#jungle5 {
  background-image: url(/images/jungle5.png);
}

#manonmountain {
  background-image: url(/images/man_on_mountain.png);
}

#myChart{
  height: 400px!important;
  width: 800px!important;

}

@media only screen and (max-width: 600px) {
  #logoland {
    background-image: url(/images/logo.png);
  width: 450px;
  background-position: center;
  background-size: contain;
  margin-left: 0;
  margin-top: -50px;

    background-repeat: no-repeat;
  }


  
#myChart{
  height: 200px!important;
  width: 400px!important;

}
}


.swiper-button-next {
  margin-top: 0px!important;
  position: absolute!important;
  top: 50%!important;
  right: -40px!important;
  width: 45px!important;
  height: 45px!important;
  transform: translateY(-50%)!important;
}
.swiper-button-prev {
  position: absolute!important;
  top: 50%!important;
  left: -40px!important;
  width: 45px!important;
  height: 45px!important;
  transform: translateY(-50%)!important;
  margin-top: 0px!important;
}

.fade-down {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-down.in-view {
  opacity: 1;
}
/* components/SectionTitle.module.css */

.sectionTitle {
  font-weight: 600;
  text-align: center;
  color: #fff;
  opacity: 0.2;
  letter-spacing: 8px;
  text-shadow: 8px 8px 8px #FFFFFF, 8px 8px 8px rgba(0, 0, 0, 0.5);
  /* Increased shadow effect */
  z-index: -1; /* Set z-index to place it behind the content */

}
